.login_page{
    background-color: #eff1f8;
    .login_cover_img{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
    }
}

