.login_form{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    form{
        width: 100%;
        .react-international-phone-input{
            flex-grow: 1;
        }
        .submit_btn_wrapper{
            display: flex;
            justify-content: center;
            
        }
        .ant-input-number{
            width: 100%;
        }
    }
}