.chane_imag_modal .ant-upload.ant-upload-select {
  border-radius: 50% !important;
}
.chane_imag_modal .ant-upload-picture-card-wrapper {
  display: flex !important;
  justify-content: center !important;
}
